bin/
obj/
docker-compose-manager-back.Tests/
*.csproj.user
.git
.github
Logs/
*.md
README*
LICENSE
nuget.config**/.vs
**/.vscode
**/bin
**/obj
**/.git
**/.gitignore
**/Docker
**/docker-compose.yml
**/docker-compose.*.yml
**/*.md
**/Data/*.db
**/Data/*.db-*
**/logs
